##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/
1password-ops/

# IDE's
.vscode/
.idea/


##### Files #####
ignore.*
*.ignore.*
.DS_Store

# Environment variables and secret keys
.env
.env.test
*.pem

